extends layout
block content
  h1= title
  
  p Rows = #{query.rows} and Columns = #{query.cols}
    -
        rows= Number(query.rows)
        cols= Number(query.cols)
    if !Number.isInteger(rows)
        p Mentioned rows are not integers
    if !Number.isInteger(cols)
        p Mentioned columns are not integers
    if rows < 1 || rows > 10
        p Mentioned rows are in out of range
    if cols < 1 || cols > 10
        p Mentioned columns are in out of range

       table    
            - for(let i=0; i<rows; i++) {
               tr
                 - for(let j=0; j<cols; j++) {
                     td= j*j+i
                 -}          
            - }